*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(60deg,rgb(33, 97, 112),#351c7f);
    display: flex;
    align-items: center;
    justify-content: center;
}
.main{
    width: 600px;
    /* min-height: 100px; */
    /* background-color: #3d2c71; */
    background-color: rgba(93, 215, 242, 0.095);
    padding: 10px;
    color: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: -1px 0px 6px rgb(83, 182, 204);
}
.main h1{
    flex: 1;
    text-align: center ;
   margin-top: 15px;
   margin-bottom: 20px;
   font-weight: 600;
   word-spacing: 0.2em;
}
.main span{
    color: #f84e05;
   
}
#area{
   margin: 10px 35px;
   outline: none;
   background-color: rgba(108, 190, 209, 0.162);
   border: 0;
   padding: 12px;
   font-size: 16px;
   color: #fff;
   line-height: 20px;
   resize: none;
   overflow: hidden;
   border-radius: 10px;
}
#content{
        display: flex;
        flex-direction: row ;
        border: #d3521a;
        margin: 12px 35px 40px 35px;
        gap: 10px;
}
#voices{
    width: 400px;
    padding: 10px;
    border-radius: 20px;
    border: 0;
    outline: none;
    appearance: none;
    background-image: url(images/angle-down-solid.svg);
    background-repeat: no-repeat;
    background-position-x:calc(100% - 20px);
    background-position-y: 12px ;
    background-size: 15px;
    font-size: 13px;
}
#btn{
    flex: 1;
    font-size: 17px;
    color: #fff;
    padding: 10px 15px;
    box-shadow:-1px 0px 15px #2c3146;
    border-radius: 20px;
    border: 0;
    background-color:#d44000;
}
#btn i{
    margin-right: 10px;
}
#btn:hover{
    cursor: pointer;
}
@media (max-width:620px){
    .container{
        width: 100vW;
        height: 120vh;
        align-items:flex-start;
    }
    .main{
        width: 300px;
        height: 400px;
        margin-top: 20%;
    }
    .main h1{
        font-size: 18px;
    }
    .main{
        font-size: 14px;
        width: 370px;
    }
    #voices{
        font-size: 12px;
        width:100%;
    }
#content{
    flex-direction: column;
}

}
